<!doctype html>
<html lang="en" ng-app="app" ng-controller="signVerify">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign-Verify</title>

	<link rel="stylesheet" type="text/css" href="stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Include script files -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/app.js"></script>
	<script type="text/javascript" src="javascripts/signverify.js"></script>

</head>

<body>
	<div class="container-contact100" style="background-image: url('images/bg-01.jpg');">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					<center>Sign - Page</center>
				</span>

				<div class="wrap-input100 validate-input" data-validate="Message is required">
					<textarea class="input100" rows="2" cols="100" ng-model="message" name="message" placeholder="Enter message here..."></textarea>
				</div>

				<div style="display: block; margin: 0 auto;">
					<input type="submit" class="btn btn-primary btn-lg" name="sign" value="Create Sign" ng-click="signData();">
				</div>
				<br><br><br>
				<div class="wrap-input100 validate-input">
					<textarea class="input100" rows="2" cols="100" ng-model="sign" name="message" placeholder="Sign key..."></textarea>
				</div>
			</form>
		</div>
	</div>
</body>

</html>